*{
	box-sizing: border-box;
}

.clearfix:after{
	content: "."; 
	visibility: hidden; 
	display: block;
    height: 0; 
    clear: both;
}

a{
	text-decoration: none;
}

a:visited{
	color: black;
}

.page-center{
	max-width: 1440px;	
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

	@media (max-width:1440px){
		.page-center{
			max-width: 970px;
		}
	}

	@media (max-width:992px){
		div.page-center{
			max-width: 750px;
		}
	}

	@media (max-width:767px){
		.page-center{
			max-width: none;
		}
	}

/*=== Header ===*/

header .header-nav{
	background: black;
	font: 400 15px Fira Sans, sans-serif;
	color: white;
}

@media (max-width:992px){
	.header-nav{
		display: none;
	}
}

.header-sale{
	text-align: left;
	padding: 10px 0 10px 0;
	width: 50%;
	float: left;
}

span.icon-price-tags {
	padding-right: 5px;
}

.user-info{
	text-align: right;
	padding: 10px 0 10px 0;
	float: right;
	width: 50%;
}

div.user-info a{
	color: white;
}

div.user-info a:visited{
	color: white;
}

.user-info li{
	display: inline-block;
	padding-left: 10px;
}

.user-info li:first-child{
	padding-left: 30px;
}

span.icon-phone{
	padding-right: 5px;
}

.user-info li:not(:last-child):after{
	content: url('../img/White-wrap.gif');
	padding-left: 13px;
	vertical-align: -1px;
}

div.user-info a:hover{
	color: #E6CBB0;
	transition: 0.4s all ease-in-out;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
}

.header-menu{
	padding: 10px 0 10px 0;
	font: 400 15px Fira Sans, sans-serif;
}

	@media (max-width:992px){
		.header-menu{
			display: none;
		}
	}

.menu-logo{
	width: 25%;
	float: left;
}

.menu-user-info{
	width: 25%;
	float: right;
	text-align: right;
	padding: 25px;
}

.menu-user-info > a {
	font-size: 25px;
	margin-right: 20px;
	color: black;
}

.menu-user-info > a:visited {
	color: black;
}

.menu-user-info > a:hover{
	color: #E6CBB0;
	transition: 0.4s all ease-in-out;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
}

/*===Modall window===*/

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity: 1;
	pointer-events: auto;
	overflow-y: auto;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

	@media (min-width: 576px) {
		.modal-dialog {
		max-width: 500px;
		margin: 30px auto;
	}
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 5px;
	outline: 0;
	color: black;
}

	@media (min-width: 768px) {
		.modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #eceeef;
}

.modal-title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 20px;
	font-weight: 500;
}

.close {
	float: right;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
	text-decoration: none;
}

.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .75;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 15px;
	overflow: auto;
	text-align: left;
}

.modal-body > form{
	display: flex;
}

.modal-body input{
	flex: 4;
	color: black;
	background: #FFF;
	border: 0;
	height: 45px;
	padding: 15px;
	font: 400 15px Fira Sans, sans-serif;
	outline: none;
	border: 1px solid #777777;
}

.modal-body input::placeholder{
	color: #333333;
}

.modal-body button{
	flex: 1;
	height: 45px;
	font: 400 15px Fira Sans, sans-serif;
	background: #C1A38B;
	border: none;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	outline: none;
}

.modal-body button:hover{
	color: #FFF;
	background-color: #000;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

/*===Menu-nav===*/

.menu-nav{
	margin-right: 25%;
	margin-left: 25%;
	text-align: center;
	padding: 25px;
}

.menu-nav > ul > li.category{
	display: inline-block;
	position: relative;
	list-style: none;
	z-index: 15;
}

.menu-nav a{
	padding:20px 10px;
	color: black;
}

.menu-nav a:visited{
	color: black;
}

.menu-nav > ul > li > a:hover{
	color: #E6CBB0;
	transition: 0.4s all ease-in-out;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
}

.menu-nav li div.category-dropMenu{
	width: 450px;
	padding: 20px 15px;
	background: white;
	text-align: left;
	position: absolute;
	left: 0;
	top: 170%;
	border-radius: 3px;
	box-shadow: 0px 0px 13px rgba(0,0,0,0.3);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s opacity ease-in-out;
	-webkit-transition: 0.5s opacity ease-in-out;
	-moz-transition: 0.5s opacity ease-in-out;
	-o-transition: 0.5s opacity ease-in-out;
}

div.menu-nav li:hover > div{
	opacity: 1;
	visibility: visible;
}

li.sub-category{
	float: left;
	width: 210px;
}

li.sub-category > a{
	margin-bottom: 100px;
}

.drop-menu{
	text-align: left;
	font: 200 15px Fira Sans, sans-serif;
}

div.drop-menu:before{
	content: '';
	border-top: 1px solid #DDD;
	position: absolute;
	width: 110px;
	margin-top: 10px;
}

div.drop-menu> ul > li{
	padding-top: 20px;
}

div.drop-menuImg img[src*=Watchband]{
	padding-top: 15px;
}

span.new{
	position: absolute;
	font: 400 10px poppins, sans-serif;
	top: -17px;
	right: 0;
	border-radius: 2px;
	background: black;
	color: white;
	padding: 0 5px;
}

.menu-nav > ul > li:nth-child(2) span{
	background: #95d16e;
}

.menu-nav > ul > li:nth-child(4) span{
	background: red;
}

/*===Burger-Menu===*/

.burger{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	display: none;
}

.burger:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #C1A38B;
	z-index: 3;
}

.burger > .page-center{
	position: relative;
	display: flex;
	height: 60px;
	justify-content: flex-end;
}

.burger-menu a{
	color: #FFF;
	text-transform: uppercase;
	font: 400 30px Fira Sans, sans-serif;
	text-decoration: none;
}

.burger-body{
	position: relative;
	width: 40px;
	height: 20px;
	margin-top: 20px;
	z-index: 5;
}

.burger-body:before,
.burger-body:after{
	content: '';
	background-color: #FFF;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.burger-body:before{
	top: 0;
}

.burger-body:after{
	bottom: 0;
}

.burger-body span{
	position: absolute;
	background-color: #FFF;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	cursor: pointer;
}

.burger-body.active:before{
	transform: rotate(45deg);
	top: 9px;
}

.burger-body.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}

.burger-body.active span{
	transform: scale(0);
}

.burger-menu{
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #777;
	padding: 80px 0 20px 30px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.burger-menu.active{
	top: 0;
}

.burger-menu li{
	margin-bottom: 20px;
}

body.lock{
	overflow: hidden;
}

	@media (max-width:992px){
		.burger{
			display: block;
		}
	}

/*=== Footer ===*/

footer{
	position: relative;
}

div.footer-contact{
	background: #C1A38B;
	font: 400 15px Fira Sans, sans-serif;
	padding: 40px 0;
	color: white;
}

.contact-info{
	position: relative;
}

.contact-info ul{
	display: flex;
	justify-content: space-around;
}

.contact-info > ul > li{
	text-decoration: none;
}

.contact-info > ul > li > i{
	font-size: 30px;
	margin-top: 0px;
	height: 60px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	background: #333;
	color: #FFF;
	margin-right: 20px;
	border-radius: 50%;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	cursor: pointer;
}

.contact-info > ul > li > i:hover{
	background: #FFF;
	color: #C1A38B;
}

.contact-info a{
	color: white;
}

.contact-info a:visited{
	color: white;
}

.contact-info > ul > li{
	display: flex;
}

.contact-info > ul > li > div{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 10px;
}

	@media (max-width:1440px){
		.contact-info ul{
			align-items: center;
		}	

		.contact-info > ul > li{
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 17px;
			margin-top: 0;
		}

		.contact-info > ul > li > i{
			font-size: 30px;
			height: 60px;
			width: 60px;
			line-height: 60px;
			background: #333;
			color: #FFF;
			margin-right: 0;
			border-radius: 50%;
			-webkit-transition: all 0.7s;
			-moz-transition: all 0.7s;
			-o-transition: all 0.7s;
			transition: all 0.7s;
			cursor: pointer;
		}
	}

	@media (max-width: 755px){
		.contact-info ul{
			flex-direction: column;
		}

		.contact-info > ul > li:not(:first-child){
			margin-top: 40px;
		}

		.contact-info > ul > li > div{
				margin-top: 15px;
		}

		.contact-info > ul > li:not(:first-child){
				margin-top: 40px;
		}

		.contact-info > ul > li > div{
				margin-top: 15px;
		}
	}


.footer-container{
	display: flex;
}

.footer-containerL{
	font: 600 18px Fira Sans, sans-serif;
	background: white;
	flex: 1;
	padding-bottom: 10px;
}

.footer-containerL > div > a > img{
	max-width: 100%;
}

div.footer-containerL > div{
	text-align: center;
	margin-top: 5px;
}

div.social{
	font-size: 20px;
	margin-top: 10px;
}

.social > a:visited{
	color: #666;
}

.social span{
	color: #666;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.social span:hover{
	color: #C1A38B;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.footer-containerR{
	font: 600 18px Fira Sans, sans-serif;
	color: #A9A9A9;
	flex: 1;
	background: #252525;
	padding-bottom: 10px;
}

div.footer-containerR > div{
	text-align: center;
	padding-top: 10px;
}

div.footer-containerL img[src*=Logo]{
	margin-bottom: 10px;
}

div.footer-containerR > div > form{
	display: flex;
	margin-top: 15px;
	justify-content: center;
}

#Email{
	flex-basis: 200px;
	max-width: 300px;
	height: 50px;
	padding: 0 0 0 10px;
	color: #8F8F8F;
	background: #3B3B3B;
	border: 0;
}

div.footer-containerR #subscribe{
	height: 50px;
	font: 400 15px Fira Sans, sans-serif;
	background: #C1A38B;
	border: none;
	color: white;
	padding: 5px 20px;
	cursor: pointer;
}

div.footer-containerR #subscribe:hover{
	color: #C1A38B;
	background-color: #fff;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

#myBtn{
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: grey;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 10px;
	opacity: 0.7;
}

	@media (max-width: 752px){
		.footer-container{
			flex-direction: column;
		}

		.footer-containerL{
			order: 2;
		}

		.footer-containerR{
			order: 1;
			padding-bottom: 25px;
		}
		
		div.social{
			font-size: 30px;
		}
	}

	@media (max-width: 360px){
		div.footer-containerR #subscribe{
			padding: 5px 15px;
			height: 40px;
		}

		#Email{
			height: 40px;
		}
	}

	@media (max-width: 360px){
		div.footer-containerR #subscribe{
			padding: 5px 15px;
			height: 40px;
		}

		#Email{
			height: 40px;
		}
	}

	@media (max-width: 360px){
		div.footer-containerR #subscribe{
			padding: 5px 8px;
			height: 30px;
			font-size: 15px;
		}

		#Email{
			height: 30px;
			font-size: 10px;
		}
	}